[user]
  name = André Brás
  email = andrebras@gmail.com
[github]
  user = andrebras
[core]
  excludesfile = /Users/andrebras/.gitignore_global
  editor = vim
[color]
  diff = auto
  status = auto
  branch = auto
[diff]
  tool = diffmerge
[difftool "diffmerge"]
  cmd = diffmerge "$LOCAL" "$REMOTE"
[merge]
  tool = diffmerge
[mergetool]
  keepBackup = false
  keepTemporaries = false
[mergetool "diffmerge"]
  cmd = diffmerge --merge --result="$MERGED" "$LOCAL" "$BASE" "$REMOTE"
  trustExitCode = true
